<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fabricate.produce.mapper.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.fabricate.produce.entity.Orders">
    <!--@mbg.generated-->
    <id column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="order_type" jdbcType="VARCHAR" property="orderType" />
    <result column="workshop_name" jdbcType="VARCHAR" property="workshopName" />
    <result column="production_line" jdbcType="VARCHAR" property="productionLine" />
    <result column="materiel_id" jdbcType="INTEGER" property="materielId" />
    <result column="planned_quantity" jdbcType="INTEGER" property="plannedQuantity" />
    <result column="order_quantuty" jdbcType="INTEGER" property="orderQuantuty" />
    <result column="o_start_time" jdbcType="TIMESTAMP" property="oStartTime" />
    <result column="o_end_time" jdbcType="TIMESTAMP" property="oEndTime" />
    <result column="routing_id" jdbcType="INTEGER" property="routingId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    order_id, order_type, workshop_name, production_line, materiel_id, planned_quantity, 
    order_quantuty, o_start_time, o_end_time, routing_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from orders
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from orders
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fabricate.produce.entity.Orders">
    <!--@mbg.generated-->
    insert into orders (order_id, order_type, workshop_name, 
      production_line, materiel_id, planned_quantity, 
      order_quantuty, o_start_time, o_end_time, 
      routing_id)
    values (#{orderId,jdbcType=INTEGER}, #{orderType,jdbcType=VARCHAR}, #{workshopName,jdbcType=VARCHAR}, 
      #{productionLine,jdbcType=VARCHAR}, #{materielId,jdbcType=INTEGER}, #{plannedQuantity,jdbcType=INTEGER}, 
      #{orderQuantuty,jdbcType=INTEGER}, #{oStartTime,jdbcType=TIMESTAMP}, #{oEndTime,jdbcType=TIMESTAMP}, 
      #{routingId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.fabricate.produce.entity.Orders">
    <!--@mbg.generated-->
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="workshopName != null">
        workshop_name,
      </if>
      <if test="productionLine != null">
        production_line,
      </if>
      <if test="materielId != null">
        materiel_id,
      </if>
      <if test="plannedQuantity != null">
        planned_quantity,
      </if>
      <if test="orderQuantuty != null">
        order_quantuty,
      </if>
      <if test="oStartTime != null">
        o_start_time,
      </if>
      <if test="oEndTime != null">
        o_end_time,
      </if>
      <if test="routingId != null">
        routing_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="workshopName != null">
        #{workshopName,jdbcType=VARCHAR},
      </if>
      <if test="productionLine != null">
        #{productionLine,jdbcType=VARCHAR},
      </if>
      <if test="materielId != null">
        #{materielId,jdbcType=INTEGER},
      </if>
      <if test="plannedQuantity != null">
        #{plannedQuantity,jdbcType=INTEGER},
      </if>
      <if test="orderQuantuty != null">
        #{orderQuantuty,jdbcType=INTEGER},
      </if>
      <if test="oStartTime != null">
        #{oStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="oEndTime != null">
        #{oEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="routingId != null">
        #{routingId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fabricate.produce.entity.Orders">
    <!--@mbg.generated-->
    update orders
    <set>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="workshopName != null">
        workshop_name = #{workshopName,jdbcType=VARCHAR},
      </if>
      <if test="productionLine != null">
        production_line = #{productionLine,jdbcType=VARCHAR},
      </if>
      <if test="materielId != null">
        materiel_id = #{materielId,jdbcType=INTEGER},
      </if>
      <if test="plannedQuantity != null">
        planned_quantity = #{plannedQuantity,jdbcType=INTEGER},
      </if>
      <if test="orderQuantuty != null">
        order_quantuty = #{orderQuantuty,jdbcType=INTEGER},
      </if>
      <if test="oStartTime != null">
        o_start_time = #{oStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="oEndTime != null">
        o_end_time = #{oEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="routingId != null">
        routing_id = #{routingId,jdbcType=INTEGER},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fabricate.produce.entity.Orders">
    <!--@mbg.generated-->
    update orders
    set order_type = #{orderType,jdbcType=VARCHAR},
      workshop_name = #{workshopName,jdbcType=VARCHAR},
      production_line = #{productionLine,jdbcType=VARCHAR},
      materiel_id = #{materielId,jdbcType=INTEGER},
      planned_quantity = #{plannedQuantity,jdbcType=INTEGER},
      order_quantuty = #{orderQuantuty,jdbcType=INTEGER},
      o_start_time = #{oStartTime,jdbcType=TIMESTAMP},
      o_end_time = #{oEndTime,jdbcType=TIMESTAMP},
      routing_id = #{routingId,jdbcType=INTEGER}
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
</mapper>