<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fabricate.produce.mapper.ProcessMapper">
  <resultMap id="BaseResultMap" type="com.fabricate.produce.entity.Process">
    <!--@mbg.generated-->
    <id column="process_id" jdbcType="INTEGER" property="processId" />
    <result column="process_name" jdbcType="VARCHAR" property="processName" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="routing_id" jdbcType="VARCHAR" property="routingId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    process_id, process_name, user_id, start_time, routing_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from process
    where process_id = #{processId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from process
    where process_id = #{processId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fabricate.produce.entity.Process">
    <!--@mbg.generated-->
    insert into process (process_id, process_name, user_id, 
      start_time, routing_id)
    values (#{processId,jdbcType=INTEGER}, #{processName,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{startTime,jdbcType=TIMESTAMP}, #{routingId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fabricate.produce.entity.Process">
    <!--@mbg.generated-->
    insert into process
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="processId != null">
        process_id,
      </if>
      <if test="processName != null">
        process_name,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="routingId != null">
        routing_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="processId != null">
        #{processId,jdbcType=INTEGER},
      </if>
      <if test="processName != null">
        #{processName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="routingId != null">
        #{routingId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fabricate.produce.entity.Process">
    <!--@mbg.generated-->
    update process
    <set>
      <if test="processName != null">
        process_name = #{processName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="routingId != null">
        routing_id = #{routingId,jdbcType=VARCHAR},
      </if>
    </set>
    where process_id = #{processId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fabricate.produce.entity.Process">
    <!--@mbg.generated-->
    update process
    set process_name = #{processName,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      routing_id = #{routingId,jdbcType=VARCHAR}
    where process_id = #{processId,jdbcType=INTEGER}
  </update>
  <select id="findAll" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select process.*,user.*,routing.name
    from process
    INNER JOIN user ON process.user_id = user.user_id
    INNER JOIN routing ON process.routing_id = routing.routing_id
    where process_id = #{processId,jdbcType=INTEGER}
  </select>
</mapper>