<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fabricate.produce.mapper.RoutingMapper">
  <resultMap id="BaseResultMap" type="com.fabricate.produce.entity.Routing">
    <!--@mbg.generated-->
    <id column="routing_id" jdbcType="INTEGER" property="routingId" />
    <result column="routing_name" jdbcType="VARCHAR" property="routingName" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="r_start_time" jdbcType="TIMESTAMP" property="rStartTime" />
    <result column="r_end_time" jdbcType="TIMESTAMP" property="rEndTime" />
    <result column="production_line" jdbcType="VARCHAR" property="productionLine" />
    <association property="user" javaType="com.fabricate.produce.entity.User">
      <id column="user_id" jdbcType="INTEGER" property="userId" />
      <id column="account" jdbcType="VARCHAR" property="account" />
      <result column="user_name" jdbcType="VARCHAR" property="userName" />
      <result column="password" jdbcType="VARCHAR" property="password" />
      <result column="role" jdbcType="VARCHAR" property="role" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    routing_id, routing_name, user_id, r_start_time, r_end_time, production_line
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from routing
    where routing_id = #{routingId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from routing
    where routing_id = #{routingId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fabricate.produce.entity.Routing">
    <!--@mbg.generated-->
    insert into routing (routing_id, routing_name, user_id, 
      r_start_time, r_end_time, production_line
      )
    values (#{routingId,jdbcType=INTEGER}, #{routingName,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{rStartTime,jdbcType=TIMESTAMP}, #{rEndTime,jdbcType=TIMESTAMP}, #{productionLine,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fabricate.produce.entity.Routing">
    <!--@mbg.generated-->
    insert into routing
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="routingId != null">
        routing_id,
      </if>
      <if test="routingName != null">
        routing_name,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="rStartTime != null">
        r_start_time,
      </if>
      <if test="rEndTime != null">
        r_end_time,
      </if>
      <if test="productionLine != null">
        production_line,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="routingId != null">
        #{routingId,jdbcType=INTEGER},
      </if>
      <if test="routingName != null">
        #{routingName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="rStartTime != null">
        #{rStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rEndTime != null">
        #{rEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="productionLine != null">
        #{productionLine,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fabricate.produce.entity.Routing">
    <!--@mbg.generated-->
    update routing
    <set>
      <if test="routingName != null">
        routing_name = #{routingName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="rStartTime != null">
        r_start_time = #{rStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rEndTime != null">
        r_end_time = #{rEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="productionLine != null">
        production_line = #{productionLine,jdbcType=VARCHAR},
      </if>
    </set>
    where routing_id = #{routingId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fabricate.produce.entity.Routing">
    <!--@mbg.generated-->
    update routing
    set routing_name = #{routingName,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      r_start_time = #{rStartTime,jdbcType=TIMESTAMP},
      r_end_time = #{rEndTime,jdbcType=TIMESTAMP},
      production_line = #{productionLine,jdbcType=VARCHAR}
    where routing_id = #{routingId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-05-27-->
  <select id="findAllByUserId" resultMap="BaseResultMap">
     select routing.*,user.*
     from routing
     INNER JOIN user ON routing.user_id = user.user_id
     where user_id=#{userId,jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2019-05-27-->
  <select id="findAll" resultMap="BaseResultMap">
    select routing.*,user.*
    from routing
    INNER JOIN user ON routing.user_id = user.user_id
  </select>
</mapper>