<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fabricate.produce.mapper.StationMapper">
  <resultMap id="BaseResultMap" type="com.fabricate.produce.entity.Station">
    <!--@mbg.generated-->
    <id column="station_id" jdbcType="INTEGER" property="stationId" />
    <result column="station_name" jdbcType="VARCHAR" property="stationName" />
    <result column="process_id" jdbcType="INTEGER" property="processId" />
    <result column="production_line" jdbcType="VARCHAR" property="productionLine" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    station_id, station_name, process_id, production_line
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from station
    where station_id = #{stationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from station
    where station_id = #{stationId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fabricate.produce.entity.Station">
    <!--@mbg.generated-->
    insert into station (station_id, station_name, process_id, 
      production_line)
    values (#{stationId,jdbcType=INTEGER}, #{stationName,jdbcType=VARCHAR}, #{processId,jdbcType=INTEGER}, 
      #{productionLine,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fabricate.produce.entity.Station">
    <!--@mbg.generated-->
    insert into station
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stationId != null">
        station_id,
      </if>
      <if test="stationName != null">
        station_name,
      </if>
      <if test="processId != null">
        process_id,
      </if>
      <if test="productionLine != null">
        production_line,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stationId != null">
        #{stationId,jdbcType=INTEGER},
      </if>
      <if test="stationName != null">
        #{stationName,jdbcType=VARCHAR},
      </if>
      <if test="processId != null">
        #{processId,jdbcType=INTEGER},
      </if>
      <if test="productionLine != null">
        #{productionLine,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fabricate.produce.entity.Station">
    <!--@mbg.generated-->
    update station
    <set>
      <if test="stationName != null">
        station_name = #{stationName,jdbcType=VARCHAR},
      </if>
      <if test="processId != null">
        process_id = #{processId,jdbcType=INTEGER},
      </if>
      <if test="productionLine != null">
        production_line = #{productionLine,jdbcType=VARCHAR},
      </if>
    </set>
    where station_id = #{stationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fabricate.produce.entity.Station">
    <!--@mbg.generated-->
    update station
    set station_name = #{stationName,jdbcType=VARCHAR},
      process_id = #{processId,jdbcType=INTEGER},
      production_line = #{productionLine,jdbcType=VARCHAR}
    where station_id = #{stationId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-05-27-->
  <select id="findAll" resultMap="BaseResultMap">
     select
     <include refid="Base_Column_List"/>
     from station
  </select>
</mapper>